.container-white,
.container-black {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: var(--bold);
  font-size: 12px;
  letter-spacing: 2px;
}

.container-white p,
.container-black p {
  margin: 0;
  transition: border 0.25s ease-in-out;
}

.container-white {
  color: var(--white);
}

.container-white p {
  border-bottom: 1px solid transparent;
}

.container-black {
  color: var(--black);
}

.container-black p {
  border-bottom: 1px solid transparent;
}

@media only screen and (min-width: 1280px) {
  .container-black:hover > p {
    border-bottom: 1px solid var(--black);
    transition: border 0.25s ease-in-out;
  }

  .container-white:hover > p {
    border-bottom: 1px solid var(--white);
    transition: border-bottom 0.25s ease-in-out;
  }
}
